---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <p class="mb-10 text-justify">
    As a second year graduate student at the University of California Berkeley, I am pursuing a
    Master of Information and Data Science degree, drawing on my background in cognitive science
    and psychology. My passion lies at the intersection of information and technology, and
    I am eager to use my educational background in data science, computer science, and
    cognition to optimize existing solutions and help create cutting-edge technologies. My studies
    have emphasized interdisciplinary work, including computer science, statistical analysis,
    data aggregation, machine learning, and MLops.
  </p><p class="mb-10 text-justify">
    In my free time, I am an avid photographer with a focus on architecture. I enjoy capturing
    the intricate design of buildings and structures, and exploring how they shape our urban
    environments. I also love mountain biking on different trails throughout the Bay Area. 
    I am excited to finish my education at Berkeley and to see where
    my interests take me in the future.
  </p>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master's of Information and Data Science"
      subtitle="December 2024 at University of California, Berkeley, Berkeley, CA"
    />
    <TimeLineElement
      title="B.A., double major in Cognitive Science and Psychology"
      subtitle="May 2020 at University of California, Berkeley, Berkeley, CA"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Cheif Technology Officer"
      link="https://hitsave.org" text="Hit Save! | June 2024 – Present"
      desc="Leading and advising on infrastructure including S3 backup buckets on Wasabi and virtual machines on Linode. Oversee containerization and maintenance of public-facing and internal services, utilizing Docker-Compose for efficient deployment. Implement and optimize processes to improve system performance and reduce operational costs."
    />
    <TimeLineElement
      title="Data Analyst Consultant"
      subtitle="White Mallard Inc. | March 2022 – Present"
      desc="Responsible for collecting, preprocessing, and analyzing water flow data from multiple disparate sources; Implement data pipelines for efficient ETL processes, creating aggregated reports for informed decision-making; Collaborate with stakeholders to understand and address reporting requirements, ensuring data integrity and alignment with both organizational goals & regulatory mandates"
    />
    <TimeLineElement
      title="Network Consultant and System Integrator"
      subtitle="Self | December 2016 – Present"
      desc="Established and managed consultation business, specializing in the design and assembly of networking systems such as WLAN deployments, network-attached storage RAIDs, and computer servers. Worked closely with clients to understand their site specifications, ensuring the delivery of intuitive and user-focused solutions; Researched, developed, and presented tailored proposals that aligned with each client's budgetary and timeline considerations; Directed the complete installation and implementation process, collaborating when necessary, to ensure the successful realization of client objectives and system requirements"
    />
    <TimeLineElement
      title="Research Intern at Sonia Bishop Computational Psychiatry and Affective Cognitive Neuroscience Lab"
      subtitle="Univeristy of California, Berkeley | January 2020 - March 2020"
      desc="Programmed and designed guideline-specific experiments utilizing handheld manipulatives; Further developed computational experimental design for studying decision-making in anxious and depressed persons"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Academic Research</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Enhancing Airline Operations: Utilizing Decision Trees for Flight Delay Management"
      subtitle="March 2024 - May 2024"
      desc="Developed a machine learning model to predict flight delays over 15 minutes up to two hours prior to departure, using historical flight and weather data. Our ensemble model achieved an F2 score of 0.58, aiding delay management for airlines."
    />
    <TimeLineElement
      title="Clinical Note Summarization: Alleviating Physician Workload for Enhanced Patient Care"
      subtitle="August 2023 - December 2023"
      desc="Utilized RoBERTa-based token embeddings, BioBERT, and a sequence-to-sequence model for efficient doctor note analysis; Produced succinct and relevant discharge summaries, outperforming traditional methods; Helped enhance documentation efficiency to ease the workload of physicians and to help allocate more time for patient care"
    />
    <TimeLineElement
      title="Predictive Health Analysis: Identifying Age-Related Conditions through Binary Classification"
      subtitle="June 2023 - August 2023"
      desc="Implemented preprocessing techniques such as KNN imputer, StandardScaler, PCA, and t-SNE; Evaluated both Random Forests and feedforward neural networks independently for classifying age-related health conditions; Attained 90%+ accuracy in the tasks, underscoring the importance of ML in the healthcare space to improve health outcomes"
    />
    <TimeLineElement
      title="Priming Effects on Perceived Human-AI Distinction"
      subtitle="June 2023 - August 2023"
      desc="Investigated the impact of priming on survey takers' perception of AI-generated content; Designed and administered surveys, employing priming techniques to inform participants about GPT models; Analyzed collected data to determine if participants were able to distinguish between human-written and AI-generated paragraphs, providing valuable insights into the effectiveness of priming in shaping perceptions of AI-generated content"
    />
    <TimeLineElement
      title="The Brilliance in Diamonds"
      subtitle="February 2023 - May 2023"
      desc="Conducted in-depth analysis on the diamond dataset in TidyVerse’s ggplot2 R package; Constructed three linear regression models in order to accurately gain insights into the concept variables present in the dataset; Created a formal academic research report and presented findings to a group of my peers"
    />
    <TimeLineElement
      title="Acme Gourmet Meals Delivery (AGM) Business Bid"
      subtitle="April 2023 - May 2023"
      desc="Created a proposal and presentation for the project’s business scenario; Identified delivery & pickup locations for AGM using Neo4J with geodesic distances and a degree centrality algorithm; Suggested other NoSQL databases such as Redis and MongoDB to optimize deliveries and inventorying further"
    />
    <TimeLineElement
      title="High Frequency Oscillations in Pre-ictal, Ictal, and Post-ictal Epileptic States"
      subtitle="October 2019 - December 2019"
      desc="Examined and analyzed literature on electrical oscillations in pre-ictal, ictal, and post-ictal epileptic states; Designed and proposed a novel study to fill in knowledge gaps about epileptic states missing from current literature; Posited that the new findings would give insight into how wearables and neurotechnologies could be applied for better seizure detection and prevention"
    />
    <TimeLineElement
      title="The Effect of High Frequency Oscillations (HFOs) on Declarative and Procedural Memory"
      subtitle="September 2019 - December 2019"
      desc="Conducted in-depth literature review of over twenty-five research papers, covering topics from memory to epileptic oscillations - Developed a detailed HFO research proposal to further understand epilepsy’s effect on declarative and procedural memory; Presented proposal and led discussion for a seminar consisting of post-doctorates, graduate students, and other undergraduates"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/CNRPD8Z9UE9W" target="_blank"> Google Data Analytics Specialization</a>
    </li>
    <li>
      <a href="http://www.coursera.org/account/accomplishments/specialization/certificate/ECGURR55WKNF" target="_blank"> Google IT Support Specialization</a>
    </li>
    <li>
      <a href="https://www.citiprogram.org/verify/?w110d3de0-e34b-4827-9c64-a4ba8cf59aae-58738976" target="_blank"> CITI Health Privacy (HIPAA)</a>
    </li>
    <li>
      <a href="https://www.citiprogram.org/verify/?wa8d8b21f-8701-40f5-bd45-7d906bdb98bb-58738975" target="_blank"> CITI Essentials of Human Subjects Research</a>
    </li>
    <li>
      <a href="https://www.citiprogram.org/verify/?wac0ce678-67fe-4e2a-ac57-a301291fc1e2-58738974" target="_blank"> CITI Group 1 Biomedical Research Investigators</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>TensorFlow</li>
    <li>PyTorch</li>
    <li>R</li>
    <li>SQL</li>
    <li>Hadoop</li>
    <li>Spark</li>
    <li>Sklearn</li>
    <li>Keras</li>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Seaborn</li>
    <li>Jupyter Lab</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Git</li>
    <li>Bash</li>
    <li>PsychoPy</li>
    <li>Qualtrics</li>
    <li>Experiment design</li>
    <li>vSphere</li>
    <li>TrueNAS</li>
    <li>ZFS</li>
    <li>Routing</li>
    <li>VLANs</li>
    <li>IPv4</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
  </ul>
</BaseLayout>
